<h1> This is Root Component <h1>
       <nav class="navbar navbar-default">
              <div class="container">
                  <ul class="nav navbar-nav">
                      <li> <a routerLink="/">Home </a></li>
                      <li class="active"><a routerLink="/about">About Us</a></li>
                      <li> <a routerLink="/contact">Contact Us</a></li>
                      <li> <a routerLink="/emp">Employee</a></li>
                      <li> <a routerLink="/list">EmployeeList</a></li>
                      <li> <a routerLink="/binding">BindingDemo</a></li>
                      <li> <a routerLink="/ReactiveForm">ReactiveFormDemo</a></li>
                      <li> <a routerLink="/UserSer">UserList</a></li>
                     <li> <a routerLink="/style">ngclassdemo</a></li>                   
                  </ul>
              </div>
          </nav>
       
 
<router-outlet></router-outlet>